# Ignore temporary/cache files
*.pyc
*.gch
*~

# Ignore output paths
/python/build
/python/dist
/python/minorminer.cpp
/python/minorminer.egg-info
/build/

# Virtual environments
/env/
/venv/

/wheelhouse/
